.chat-row {
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 8px;
  max-width: 75%;
  clear: both;
}

.chat-row.llm {
  background-color: rgba(255, 203, 48, 0.964);
  border: 1px solid #fdeb0e;  
  color: #000000;
  font-weight: 700;             
  float: left;
}

.chat-row.human-bubble {
  background-color: #505050; 
  border: 1px solid #404040;  
  color: white;
  font-weight: 700;               
  float: right;
}

.chat-row:hover {
  transform: scale(1.02);
}

.row-reverse {
  flex-direction: row-reverse;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #132a4e;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.chat-container {
  max-height: 500px;  
  overflow-y: auto;  
  width: 100%;
}



.chat-bubble {
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    display: inline-block;
    max-width: 80%;
}

.bot-bubble {
    background-color: #e6e6e6;
}

.human-bubble {
    background-color: #0099ff;
    color: white;
}

